
/* ======== Estilo Geral ======== */
body {
     font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-wrap: wrap;
}

.left, .right {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
}

/* ======== Coluna Esquerda ======== */
.left {
    background-image: linear-gradient( #171771,  #166599);
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.left img {
    width: 80px;
    margin-bottom: 20px;
}

.left h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.left a {
    text-decoration: none;
    background-color: white;
    color: #094f7e;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}


.left a:hover {
    background-color: #e6e6e6;
}

/* ======== Coluna Direita ======== */
.right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #2c6b96;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #1a4d6d;
}

.text-center a {
    font-size: 14px;
    color: #2c6b96;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto; /* Ativa a barra de rolagem */
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
.radio-group label {
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .left, .right {
        flex: 1 1 100%;
    }
}


  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }